/* 게시물  */
.product {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    cursor: pointer;
  }

  .product h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .grid-full {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .grid-product {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }

  .grid-product:hover {
    background: #e1e1e1;
  }
  .grid-product img {
    width: 300px;
  }

  .grid-detail {
    margin: 20px 0;
    text-align: center;
  }
  .grid-detail p:last-child {
    transition: .5s;
    margin-top: 10px;
  }
  .grid-product:hover > .grid-detail p:last-child {
    color: #3498db;
  }

  .grid-full {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .grid-product-full {
    background: #f1f1f1;
    grid-column: span 3;
    display: flex;
    position: relative;
  }
  .grid-detail-sum {
    position: absolute;
    top: 35%;
    right: 12%;
    text-align: center;
  }
  .grid-detail-sum h2 {
    font-size: 3rem;
    font-weight: 500;
  }
  .grid-detail-sum p {
    margin: 20px 0;
  }
  .grid-detail-sum a {
    color: #3498db;
  }
  .grid-detail-sum a:hover {
    text-decoration: underline;
  }

  /* 게시글 끝 */
  /* 인덱스 페이지 */

/* 상세보기 모달창 끝 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboot', sans-serif;
  text-decoration: none;
}
nav {
  width: 100%;
  height: 10rem;
  background: #f5f5dc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.logo {
    padding: 1vh 1vw;
    text-align: center;
  }
  .logo img {
    height: 5rem;
    width: 5rem;
  }
  
  /*Styling Links*/
  .nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
  }
  .nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
  }
  .leftbox li a:hover {
    color: #61dafb;
  }
  .rightbox li a:hover{
    color: #000080;
  }
  .nav-links li {
    position: relative;
  }
  .leftbox li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61dafb;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
  }
  
  .leftbox li a:hover::before {
    width: 80%;
  }
  
  .leftbox {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    width: 80%;
  }
  
  .rightbox {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    width: 15%;
  }
/* nav 끝 */
/* 추천보기 */
/* Style the Image Used to Trigger the Modal */
img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

img:hover {opacity: 0.7;}

.grid-product{
  border-radius: 3px;
}
